footer.footer
    .footer__grid
        .footer__grid-left
            span Schwartz
            p  
                a Terms & Conditions
                br
                a Privacy Policy
            p 
                a &copy #{new Date().getFullYear()} Schwartz Publishing
                br
                a All rights reserved
        .footer__grid-right
            span Schwartz Media
            span Schwartz Books
            span Schwartz Pro